<h1>Directive Selectors</h1>
  Items below are updated (mostly color changes) by directives
<ul>
    <li>Element/tag selector: <a href='#'>A link</a></li>
    <li>Qualified Element/tag selector: <span qualified>Qualified</span></li>
      <li>Not qualified Element/tag selector: <span>Not Qualified</span></li>
    <li>Class selector: <span class='class'>Class - this should be blue</span></li>
    <li>Class selector: <span class='class1'>Class1 - this should be green</span></li>
    <li>Not class selector: <span class='class1 class2'>Class1 & Class2 - this should be black</span></li>
    <li>multi-selector: <span class='class3'>Class - this should be orange</span></li>
    <li>multi-selector: <span hsPaywall>Class - this should be orange</span></li>
</ul>


