<h1>Shadow Piercing</h1>
<hr />
<div class='coloredBlock2' style='height:25px; width:25px; border:1px solid black;'></div>
<p>The above block is in the parent component. It cannot change color (it must remain orange, which is set in its stylesheet):</p>

<p>The following 5 blocks are in separate child components. We want to be able to change their color without having to change the stylesheet
    for each one every time we need a different color. We can't change the ViewEncapsulation settings</p>

    <shadow-piercing-child1a></shadow-piercing-child1a>
    <shadow-piercing-child1b></shadow-piercing-child1b>
    <shadow-piercing-child1c></shadow-piercing-child1c>
    <shadow-piercing-child1d></shadow-piercing-child1d>
    <shadow-piercing-child1e></shadow-piercing-child1e>
