h4{
    text-decoration: underline;
}
div.container{
    height:25px;
    width: 500px;
    border: 1px solid black;
}
.filled{
    background-color: #CCC;
}
.highlight{
    background-color: yellow;
}