.header{
    font-size: 16pt;
    color: orange;
    float:left;
    height:100px;
    padding:50px 10px 0 10px;
    border: 1px solid black;
    margin-right:30px;
}
.content{
    font-size: 14pt;
    color: green;
}
.footer{
    clear:both;
    margin-top:10px;
    background-color: #CCC;
}